.details-container{
    padding: 10px;

    label{
        display: block;
        width: 90%;
        font-weight: 600;
        margin-bottom: 15px;

        span{
            font-weight: 400;
        }
}
}