<div class="contact-list-container">
    <div class="header-container">
        <div>
            <span>
                First Name
            </span>
        </div>
        <div>
            <span>
                Last Name
            </span>
        </div>
    </div>
    <div class="list-content-container">
        <div class="list-item" *ngFor="let contact of contacts$ | async" (click)="onSelect(contact.id)" [ngClass]="{'highlighted-contact': contact.id === selectedContactId}">
            <div>
                {{contact.firstName}}
            </div>
            <div>
                {{contact.lastName}}
            </div>
        </div>
    </div>

</div>
